include ../calculator/calculator

mixin product(item)
    ._product
        a._desc-trigger
            span
            span
        ._img
            img(src=item.img)
            ._caption
                p= item.desc
        ._info
            h6._name= item.name
            span._price
              | $<span class="_value">#{item.price}</span> / KG 
            span._piece
              | (#{item.piece} KG c/u)
        +calculator(item.price)
